@model IEnumerable<N01522297_PassionProject_ExpiryDateTracker.Models.PantryDto>
@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Add New Item to Pantry</h2>


<form class="text-center" method="post" action="/Item/Create">
    <div class="form-group form-inline">
        <label for="itemName">Name:</label>
        <input id="itemName" class="form-control" type="text" name="ItemName" />
    </div>
    <div class="form-group form-inline">
        <label for="itemExpiry">Expiry</label>
        <input id="itemExpiry" class="form-control" type="date" min="@DateTime.Now" name="ItemExpiry" />
    </div>
    <div class="form-group form-inline">
        <label for="itemPantryID">PantryID</label>
        <select id="itemPantryID" class="form-control" name="PantryID">
            @foreach(var pantry in Model)
            {
                <option value="@pantry.PantryID">@pantry.PantryName</option>
            }
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Add Item" />
</form>