@model N01522297_PassionProject_ExpiryDateTracker.Models.ViewModels.DetailsPantry
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Details</h2>
<a href="/Pantry/List">Go Back</a>
<form class="text-center">
    <input class="btn btn-primary" type="submit" value="Update Pantry" formaction="/Pantry/Edit/@Model.SelectedPantry.PantryID" formmethod="get" />
    <input class="btn btn-primary" type="submit" value="Delete Pantry" formaction="/Pantry/Delete/@Model.SelectedPantry.PantryID" formmethod="post" />
</form>

<p><b>Owner:</b>@Model.SelectedPantry.UserFName</p>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.SelectedPantry.PantryName</h3>
    </div>
    <table class="table">
        <tbody>
            @foreach (var item in Model.StoredItems)
            {
                <tr>
                    <td>
                        <a href="/Item/Details/@item.ItemID">@item.ItemName</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>