@model IEnumerable<N01522297_PassionProject_ExpiryDateTracker.Models.PantryDto>
@{
    ViewBag.Title = "List";
}

<h2 class="text-center">List of Pantries</h2>
<form class="text-center" method="get" action="/Pantry/List">
    <div class="form-group">
        <label for="pantrySearch">Pantry Name:</label>
        <input id="pantrySearch" type="text" name="PantrySearch" />
    </div>
    <input class="btn btn-primary" type="submit" value="Search" />
    <input class="btn btn-primary" type="submit" value="New Pantry" formaction="/Pantry/New" />
</form>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">Pantry ID</th>
            <th class="text-center">Pantry Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pantry in Model)
        {
            <tr>
                <td>@pantry.PantryID</td>
                <td>
                    <a href="/Pantry/Details/@pantry.PantryID">@pantry.PantryName</a>
                </td>
            </tr>
        }
    </tbody>
</table>
