@model N01522297_PassionProject_ExpiryDateTracker.Models.ViewModels.DetailsUser
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<a href="/User/List">Go Back</a>
<form>
    <input type="submit" value="Update User" formaction="/User/Edit/@Model.SelectedUser.UserID" formmethod="get" />
    <input type="submit" value="Delete User" formaction="/User/Delete/@Model.SelectedUser.UserID" formmethod="post" />
</form>
<h2>@Model.SelectedUser.UserFName @Model.SelectedUser.UserLName's Pantries</h2>
<ul>
    @foreach(var pantry in Model.OwnedPantries)
    {
        <li>
            <a href="/Pantry/Details/@pantry.PantryID">@pantry.PantryName</a>
        </li>
    }
</ul>