@model IEnumerable<N01522297_PassionProject_ExpiryDateTracker.Models.User>
@{
    ViewBag.Title = "List";
}

<h2>List Users</h2>
<form method="get" action="/User/New">
    <input type="submit" value="New User" />
</form>

@foreach (var user in Model)
{
    <p><a href="/User/Details/@user.UserID">@user.UserFName</a></p>
}