@{
    ViewBag.Title = "New";
}

<h2 class="text-center">New User</h2>
<form class="text-center" action="/User/Create" method="post">
    <div class="form-group form-inline">
        <label for="userFirstName">First Name</label>
        <input id="userFirstName" class="form-control" type="text" name="UserFName" />
    </div>
    <div class="form-group form-inline">
        <label for="userLastName">Last Name</label>
        <input id="userLastName" class="form-control" type="text" name="UserLName" />
    </div>
    <input class="btn btn-primary" type="submit" value="Add User" />
</form>