@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Expiry Tracker</h1>
    <p class="lead">Expiry tracker is a web application for organizing and keeping track of the items in your pantry</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pantries</h2>
        <p>Create unique pantry names specific to you and the items stored within. No more searching for the items in your pantry, wondering when they expire</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Items</h2>
        <p>Keep track of your items in your pantries and how many days before they are expired</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>